* {
    font-family: Helvetica;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
}

.nav {
    height: 69px;
    display: inline-flex;
}

.banner {
    height: 700px;
    width: 1200px;
    display: flex;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    opacity: 1;
    filter: brightness(400%); 
}