* {
    font-family: Helvetica;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid seashell;
    opacity: 1;
}

main {
    padding-top: 69px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li h4 {
    margin-right: 20px;
    font-weight: normal;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}


h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

.nav {
    height: 69px;
    display: inline-flex;
}


.header {
    text-align: center;
}

.boxes {
    display: flex;
}

.picture {
    width: 300px;
    height: 200px;
}

img {
    max-width: 100%;
    max-height: 100%;
}


.location h4 {
    font-weight: normal;
}

footer {
    font-size: 12px;
    margin-left: 20
}