* {
    font-family: Helvetica;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid seashell;
    opacity: 1;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

main {
    padding-top: 69px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    width: 1200px;
    margin-bottom: 50px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li h4 {
    margin-right: 20px;
    font-weight: normal;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}


.nav {
    height: 69px;
    display: inline-flex;
}

.header {
    text-align: center;
    width: 1200px;
}

#banner {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
 

}


.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}


.picture {
    width: 300px;
    height: 200px;
    margin: 10px 10px;
    
}

img {
    max-width: 100%;
    max-height: 100%;
    
}

.box-name {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-name h4 {
    margin: 0;
    padding: 0;
}

#locations-container {
    background-color: transparent;
}

#locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1200px;

}

#locations-header {
    margin-top: 50px;
    background-color: transparent;

}

#locations-header h2 {
    background-color: transparent;
    font-size: 22px;
}

.location-boxes {
    display: flex;
    background-color: transparent;
    justify-content: center;
    margin-top: 15px;
}

.location-box {
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-right: 40px;
    text-align: center;
    opacity: 1;
    padding: 10px 0px;
}

.location-box h4 {
    font-weight: normal;
}




footer {
    font-size: 12px;
    margin-left: 20px;
}